body {
   
    font-family: cursive;
    font-style: italic;
      color: rgb(22, 22, 16) ;
      background-color: rgb(85, 160, 11) ;
    a:link {
          color: rgb(241, 99, 4);
          text-decoration: none;}
    a:visited {
        color: rgb(241, 99, 4);
        ;}
    a:focus {
        color:rgb(22, 21, 17)
    }    
}